<nav class="navbar navbar-dark bg-dark">
    <div class="row px-5">
        <div class="col-12 col-lg-3">
            <ul class="navbar-nav align-content-start px-5 me-5">
                <p class="fs-4 text-info">
                    Navigation
                </p>

                <li class="nav-item">
                    <a href="{{ path('home') }}" class="nav-link {% if app.current_route == 'home' %}active{% endif %}">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('about') }}" class="nav-link {% if app.current_route == 'about' %}active{% endif %}">About</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('contact') }}" class="nav-link {% if app.current_route == 'contact' %}active{% endif %}">Contact</a>
                </li>
            </ul>
        </div>

        <div class="col-12 col-lg-3">
            <ul class="navbar-nav align-content-start px-5 me-5">
                <p class="fs-4 text-info">
                    Entertainments
                </p>

                <li class="nav-item mx-lg-2">
                    <a class="nav-link {% if app.current_route == 'movie' %}active{% endif %}" aria-current="page" href="{{ path('movie') }}">Movies</a>
                </li>
                <li class="nav-item mx-lg-2">
                    <a class="nav-link {% if app.current_route == 'music' %}active{% endif %}" aria-current="page" href="{{ path('music') }}">Musics</a>
                </li>
                <li class="nav-item mx-lg-2">
                    <a class="nav-link {% if app.current_route == 'book' %}active{% endif %}" aria-current="page" href="{{ path('book') }}">Books</a>
                </li>
                <li class="nav-item mx-lg-2">
                    <a class="nav-link {% if app.current_route == 'game' %}active{% endif %}" aria-current="page" href="{{ path('game') }}">Games</a>
                </li>
            </ul>
        </div>
    </div>
    
    <small class="mt-4 w-100 text-secondary text-center">All rights reserved <a href="https://github.com/raphaelarcanjo" class="text-decoration-none text-info" target="_blank">©raphaelarcanjo</a> 2023</small>
</nav>