<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid justify-content-lg-center">
        <a class="navbar-brand p-0 me-0 d-lg-none text-info" href="{{ path('home') }}" aria-label="Bootstrap">Rate It</a>
        <button class="navbar-toggler d-lg-none"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#header_navbar"
                aria-controls="header_navbar"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas-lg offcanvas-end bg-dark" id="header_navbar">
            <div class="offcanvas-header bg-info">
                <h5 class="offcanvas-title">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"  data-bs-target="#header_navbar"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav flex-lg-row">
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link {% if app.current_route == 'home' %}active{% endif %}" aria-current="page" href="{{ path('home') }}">Home</a>
                    </li>
                    <hr class="text-secondary d-lg-none" />
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link {% if app.current_route == 'movie' %}active{% endif %}" aria-current="page" href="{{ path('movie') }}">Movies</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link {% if app.current_route == 'music' %}active{% endif %}" aria-current="page" href="{{ path('music') }}">Musics</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link {% if app.current_route == 'book' %}active{% endif %}" aria-current="page" href="{{ path('book') }}">Books</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link {% if app.current_route == 'game' %}active{% endif %}" aria-current="page" href="{{ path('game') }}">Games</a>
                    </li>
                    <hr class="text-secondary d-lg-none" />
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link {% if app.current_route == 'about' %}active{% endif %}" aria-current="page" href="{{ path('about') }}">About</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link {% if app.current_route == 'contact' %}active{% endif %}" aria-current="page" href="{{ path('contact') }}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

{% for label, message in app.flashes %}
    <div class="alert alert-dismissible fade show alert-{{ label }}" role="alert">
        <ul class="nav">
            {% for text in message %}
            <li class="nav-item">
                {{ text }}
            </li>
            {% endfor %}
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}