<div class="rating">
    <input type="radio" name="rating_{{ id }}[]" id="" value="10">
    <input type="radio" name="rating_{{ id }}[]" id="" value="9">
    <input type="radio" name="rating_{{ id }}[]" id="" value="8">
    <input type="radio" name="rating_{{ id }}[]" id="" value="7">
    <input type="radio" name="rating_{{ id }}[]" id="" value="6">
    <input type="radio" name="rating_{{ id }}[]" id="" value="5">
    <input type="radio" name="rating_{{ id }}[]" id="" value="4">
    <input type="radio" name="rating_{{ id }}[]" id="" value="3">
    <input type="radio" name="rating_{{ id }}[]" id="" value="2">
    <input type="radio" name="rating_{{ id }}[]" id="" value="1">
</div>